aiohttp==3.9.5
asgiref==3.8.1
blinker==1.9.0
branca==0.8.1
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
Flask==2.3.3
folium==0.14.0
geographiclib==2.0
geopy==2.4.1
google-api-core==2.24.2
google-auth==2.38.0
google-geo-type==0.3.12
google-maps-routing==0.6.15
googleapis-common-protos==1.69.2
googlemaps==4.10.0
grpcio==1.71.0
grpcio-status==1.71.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.2.4
openai==1.12.0
polyline==2.0.0
proto-plus==1.26.1
protobuf==5.29.4
pyasn1==0.6.1
pyasn1_modules==0.4.2
requests==2.31.0
rsa==4.9.1
urllib3==2.4.0
Werkzeug==3.1.3
